[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "libs/SVProgressHUD"]
	path = libs/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
